body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

img {
    width: 200px;
}

.rock-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

button {
    width: 100px;
}

h2 {
    font-family:monospace;
}